
# Coverage directory
coverage
coverage.json
coverageEnv

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Local env variables
.env
.mnemonic
.mnemonic2

# misc
.DS_Store
*/.DS_Store
.env
.idea/
.vscode/

# Logs
logs
*.log
