# Coverage directory

coverage.json
# coverageEnv

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Local env variables
.env
.DS_Store

# misc
.DS_Store
*/.DS_Store
.env
.idea/
.vscode/

# Logs
logs
*.log

.vscode

build
build/*


package-lock.json
